.container{
    margin: 30px 10vw;
    font-family: Helvetica;
}
.create-title{
    background-color: rgb(231, 61, 89);
    color: white;
    font-weight:700;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    border-radius: 10px;
}
.create-form{
    border: 1px solid rgb(231, 61, 89);
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.048);
    padding: 40px;
    height: 60vh;
}
#heading{
    font-family: Helvetica;
    display: block;
    width: 90%;
    margin: 30px;
    height: 30px;
    font-size: 20px;
    border:none;
    border: 1px solid rgb(231, 61, 89);
    border-radius: 5px;
}
#content{
    font-family: Helvetica;
    display: block;
    width: 90%;
    margin: 30px;
    height: 50%;
    font-size: 20px;
    border:none;
    border: 1px solid rgb(231, 61, 89);
    border-radius: 5px;

}
.form-heading{
    color: rgb(231, 61, 89);
    font-size: 30px;
    margin: 10px 40px;
}
input[type=submit]{
    width: 20%;
    text-align: center;
    position: relative;
    left: 72%;
    font-size: 2vh;
    padding: 15px;
    background-color: rgb(231, 61, 89);
    color: white;
    border: none;
    border: 1px solid rgb(231, 61, 89);
    border-radius: 5px;
}