.Blog{
    max-width: 750px;
    max-height: 400px;
    border: 1px solid rgb(231, 61, 89);
    border-radius: 10px;
    padding: 10px;
}
.blog-title{
    color: rgb(231, 61, 89);
    font-family: Helvetica;
    font-size: 32px;
    border-bottom: 1px solid rgb(231, 61, 89);
    padding: 10px;
}
.blog-body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    text-align: justify;
    font-size: 22px;
}
.date{
    position: absolute;
    left: 65vw;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    border-left: 2px solid rgb(231, 61, 89);
    margin: 0 10px;
}